
{% extends 'base.html' %}

{% block content %}

    <style>
        .display_attribute {
            background-color: yellow;
            margin: 1rem;
            width: 48px;
            height: 48px;
            border-radius: .5rem;
            display: inline-block;

        }
    </style>

    <div style="height: 30rem;
    background-color: pink;
    margin: 2rem;
    border-radius:1rem;
    font-size: 2rem;">

        <h1>안녕 나는 병관이야</h1>


        <div class="display_attribute" style="height: 24px; width: 24px;">inline-block1</div>
        <div class="display_attribute" style="height: 3rem; width: 3rem;">inline-block2</div>
        <div class="display_attribute" style="height: 4em; width: 4em;">inline-block3</div>
        <div class="display_attribute" style="height: 50%; width: 50%;">inline-block4</div>

    </div>
{% endblock %}