.pragmatic_header_logo {
    font-family: 'Tourney', cursive;
}

.pragmatic_header {
    text-align: center; margin: 2rem 0;
}

.pragmatic_footer_logo {
    font-family: 'Tourney', cursive; margin: 1.5rem 0;
}

.pragmatic_footer {
    text-align: center;
}

.pragmatic_header_button {

}

.pragmatic_footer_button {

}



.mx-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}













