<div class="pragmatic_header">
    <div class="pragmatic_header_logo">
        <a href="{% url 'accountapp:hello_world' %}"><h1>Tim's sky</h1></a>
    </div>
    <div class="pragmatic_header_button">
        <span>Sky</span>
        <span>Fly</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">Login</a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">SignUp</a>
        </span>

        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' user.pk %}">MyPage</a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">Logout</a>
        </span>
        {% endif %}
    </div>
</div>