<div class="pragmatic_header">
    <div class="pragmatic_header_logo">
        <h1>Sky No Limit</h1>
    </div>
    <div class="pragmatic_header_button">
        <span>Sky</span>
        <span>
            <a href="{% url 'articleapp:list' %}">Articles</a>
        </span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">Login</a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">SignUp</a>
        </span>

        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' user.pk %}">MyPage</a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">Logout</a>
        </span>
        {% endif %}
    </div>
</div>